<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756691727984-0uhrnb1b30eufaqpimepgu97ldn6t6v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756691727984-0uhrnb1b30eufaqpimepgu97ldn6t6v8</string>
	<key>API_KEY</key>
	<string>AIzaSyCvfdWQ22ZscqVGwCr8jU-1fxSQC2aXI7w</string>
	<key>GCM_SENDER_ID</key>
	<string>756691727984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrudula.scenicLocation</string>
	<key>PROJECT_ID</key>
	<string>sceniclocationapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sceniclocationapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756691727984:ios:9e27eccd95f494ff</string>
	<key>DATABASE_URL</key>
	<string>https://sceniclocationapp.firebaseio.com</string>
</dict>
</plist>